Flask==3.0.3
Flask-Login==0.6.3
waitress==3.0.0

# Google Sheets + Auth
gspread==6.1.2
google-api-python-client==2.148.0
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0

# Utilities

python-dotenv==1.0.1   # if you plan to load env vars from .env

